{% extends 'base.html.twig' %}

{% block title %}Modification mot de passe | Make it Myself !{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
        <div class="connected">
            <a href="{{ path('account') }}">Retourner à mon compte</a>
            <hr>

            <p>{{ app.user.firstname }}, définissez votre nouveau mot de passe :</p>
            {{ form(form) }}
            <hr>
            {% if message %}
                <div class="alert alert-info">{{ message }}</div>
            {% endif %}
        </div>
{% endblock %}
