* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 900px;
}

section {
    padding: 70px 0;
    margin-top: 50px;
    margin-left: 20px;
    background: rgba(169, 127, 175, 0.09);
    align-items: center;
}

section.login {
    width: 600px
}

.admin-title {
    text-align: center;
    font-size: 26px;
    color: rgb(11, 53, 33);
}

h1 {
    text-align: center;
    color: rgb(75, 36, 73);
}

h2 {
    text-align: center;
    color: rgb(75, 36, 73);
}

.btn {
    font-size: 26px;
    border: 1px solid grey;
}

.btn-welcome,
.btn-edit,
.btn-post {
    float: right;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 5px;
    color: white;
    background-color: rgba(175, 76, 158, 0.5);
}

.form-control,
.custom-select {
    width: 300px;
}

form {
    margin-left: 20px;
}

textarea {
    width: 600px !important;
    height: 300px !important;
}

.newpost {
    display: block;
    text-align: center;
    margin-left: 15px;
    font-size: 26px;
}

nav a {
    text-decoration: none;
    color: rgb(131, 62, 127);
    font-size: 26px;
}

a i {
    color: rgb(131, 62, 127);
}

a i:hover {
    color: rgb(214, 113, 214);
}

.container {
    margin-top: 20px;
    text-align: center;
}

p,
em {
    color: darkolivegreen;
}