/*** register form ****/
h1{
    color: rgb(75, 36, 73);
    margin: 0 15px;
    text-transform: uppercase;
    text-align: center;
}
#register, #contact{
    width: 50%;
    margin: 0 auto 60px;
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
}

label {
    text-decoration: underline;
}

#register input, #contact input, #search_string{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 18px;
    margin: 10px 0;
    font-family: "Poppins", sans-serif;
}

.register-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

button#register_submit, button#contact_submit, .button, #search_submit{
    display: block;
    padding: 14px 0;
    font-size: 16px;
    text-decoration: none;
    color: #ddd;
    background: #3e2943;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: 8px 0;
    width: 100%;
    height: 50px;
    transition: opacity .3s linear;
}

button#register_submit:hover, button#contact_submit:hover, #search_submit:hover{
    opacity: .7;
}
#register li {
    list-style-type: none;
    color: red;
}

/*** end form ***/

/*** texte défilant ***/
.separator{
    padding: 25px 0;
    margin-top: 0;
    margin-bottom: 20px;
}
.defileParent {
    display: block;
    margin: 1em auto;
    overflow: hidden;
    position: relative;
    table-layout: fixed;
    width: 700px;
}
.defile {
    display:block;
    -webkit-animation:linear marqueelike 20s infinite ;
    -moz-animation:linear marqueelike 20s infinite ;
    -o-animation:linear marqueelike 20s infinite ;
    -ms-animation:linear marqueelike 20s infinite ;
    animation:linear marqueelike 20s infinite ;
    margin-left:-100%;
    padding:0 5px;
    text-align:left;
    height:25px;
}

.defile:after {
    content:attr(data-text);
    position:absolute;
    white-space:nowrap;
    padding-left:10px;
}

@-webkit-keyframes marqueelike {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
}
@-webkit-keyframes marqueelike {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
}
@-moz-keyframes marqueelike {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
}
@-o-keyframes marqueelike {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
}
@-ms-keyframes marqueelike {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
}
@keyframes marqueelike {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
}
/*** fin animation **/

/*** connexion ****/
#signIn, #change_password,#reset_password{
    width: 50%;
    margin: 0 auto 60px;
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
}

.button:hover {
    opacity: .7;
}

.signIn-contents {
    height: 300px;
    width: 500px;
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
}

.signIn-field , .change_password_field,.reset_password_field{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 18px;
    margin: 10px 0;
    font-family: "Poppins", sans-serif;
}

.signIn {
    margin-top: 5px;
}

.logo-cnx {
    color: rgb(75, 36, 73);
    margin: 0 10px;
}
/** contact **/
textarea#contact_content {
    width: 100%;
    height: 120px;
    border: none;
    font-family: 'Poppins';
}

p.contact_text {
    text-align: center;
    margin-bottom: 10px;
}
/*** end ***/
/*** if connected **/
.connected {
    width: 60%;
    text-align: center;
    margin: 100px auto;
    padding: 40px;
    background: #f1f1f1;
}

/*** filtre categories ***/

.section-blog{
    margin: 0;
}
form#filters {
    display: flex;
    justify-content: space-evenly;
}
#filters #search_categories{
    width: 100%;
    font-size: 20px;
}

form#filters div:nth-child(2){
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#search_categories label {
    text-decoration: none;
    margin-right: 10%;
    color: #3e2943;
}

#search_categories input{
    width: 20px;
}

.filters-form {
    margin-top: 30px;
    background: white;
    padding: 20px;
    margin-bottom: 30px;
}

#search_submit{
    width: 120px;
}



/** end filtre ***/

/** media queries **/
@media (max-width:800px){
    #register, #signIn, #contact, #change_password,#reset_password, .connected{
        width: 100%;
    }
    .separator{
        display: none;
    }
    form#filters {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form#filters div:nth-child(2){
        width: 100%;
    }
    #filters #search_categories{
        font-size: 16px;
    }
}