* {
    margin:0;
    padding:0;
    border:0 none; 
    box-sizing:border-box;
}
/* *,*:before,*:after {box-sizing:inherit;} */

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}


/****** header *****/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}
.logo {
    color: rgb(167, 143, 143);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}
.nav-links a {
    color: rgb(167, 143, 143);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links li {
    list-style: none;
}

img.banner {
    width: 100%;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(167, 143, 143);
    margin: 5px;
    transition: all 0.3s ease;
}

/******* main ********/
    /**affichage de la grille des articles **/

.blogContent p a , .blogContentHome p a {
    transition: all .5s;
    text-decoration: none;
    color: #fff;
}

section {
    padding: 70px 0;
    margin-top: 50px;
    background: rgba(169, 127, 175, 0.09);
    text-align: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 30px 15px 0px 15px;
}

article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 30px 15px 0px 15px;
}


#grid-blog {
    display: grid;
	grid-template-columns: repeat(auto-fill,minmax(calc(8rem + 5vw + 5vh),1fr));
	grid-gap: 2.5vmin;
	padding: 2.5vmin;
}
.top {
    width: 70%;
    margin: 0 auto;
}

.top h1 {
    margin: 0;
    font-size: 50px;
    color: rgba(52, 73, 94, 1.0);
    font-weight: 500;
}

.top h2 {
    color: rgba(52, 73, 94, 1.0);
}

.singleBlog, .singleBlogHome {
    position: relative;
    overflow: hidden;
    max-height: 580px;
    box-shadow: 0 2px 10px #ccc;
    transition: all .5s;
}
.blogContent, .blogContentHome {
    position: absolute;
    left: 0;
    bottom: -45px;
    width: 100%;
    color: #fff;
    padding: 10px 5px;
    background: linear-gradient(45deg, rgba(167, 143, 143, 1) 0%, rgba(144, 192, 229, .4) 100%);
    transition: all .5s;
}

.singleBlog:hover .blogContent, .singleBlogHome:hover .blogContentHome {
    bottom: 0;
    transition: all .5s;
}

.blogContent h3, .blogContentHome h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.blogContent h3 span, .blogContentHome h3 span {
    display: block;
    font-size: 60%;
    margin-top: 5px;
    font-weight: 600;
    color: rgba(52, 73, 94, 1.0)
}

.blogContent a, .blogContentHome a {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}
.blogContent a:hover, .blogContentHome a:hover{
    text-decoration: none;
}
.blogContent .btn, .blogContentHome .btn  {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

.blogContent .btn:hover, .blogContentHome .btn:hover {
    background: rgba(123, 81, 143, 0.3);
    transition: all .5s;
    text-decoration: none;
}

.blogContent a:hover, .blogContentHome a:hover {
    text-decoration: none;
}

.fa-heart {
    color: darkred;
}
span.js-likes {
    color: white;
}
/**tooltip**/
.tooltip::before,
.tooltip::after{
    --scale: 0;
    --arrow-size: 10px;
    --tooltip-color: #3e2943;

    position: absolute;
    top: 3.75rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;
    text-transform: lowercase;
}

.tooltip::before{
    --translate-y: calc(-100% - var(--arrow-size));

    content: attr(data-tooltip);
    color: white;
    padding: .5rem;
    border-radius: .3rem;
    text-align: center;
    width: max-content;
    max-width: 100%;
    background: var(--tooltip-color);
}

.tooltip:hover::before,
.tooltip:hover::after{
    --scale: 1;
}
.tooltip::after{
    --translate-y: calc(-1 * var(--arrow-size));

    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
}
/** end tooltip **/
.blogImg {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	box-shadow: 0 0 3px #496b7b;
	border-radius: 5px;
    transition: all .5s;
}
.singleBlog:hover, .singleBlogHome:hover {
    box-shadow: 0 2px 13px #ccc;
    transition: all .5s;
}

.singleBlog:hover img, .singleBlogHome:hover img {
    transform: scale(1.1);
    transition: all .4s;
}


/** gallery **/
.singleBlog:first-child {
    grid-row-start: span 2;
    grid-column-start: span 3;	
}
.singleBlog:nth-child(2n+3) {
    grid-row-start: span 1;
}
.singleBlog:nth-child(4n+5) {
    grid-column-start: span 3;
	grid-row-start: span 2;
}
.singleBlog:nth-child(6n+7) {
    grid-row-start: span 3;
    grid-column-start: span 2;
}
.singleBlog:nth-child(8n+9) {
    grid-column-start: span 2;
    grid-row-start: span 3;
}

.singleBlog::after {
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0%;
	left: 0;
	font-size: 2rem;
	color: #c6d9d3;
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	text-align: center;	
}

.singleBlog, .singleBlogHome,
img {
	transition: .4s;
}
/** voir plus sur la home page **/
.seemore{
    display: flex;
    /* padding: 14px 0; */
    font-size: 16px;
    text-decoration: none;
    color: #ddd;
    background: #3e2943;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: 40px auto 0px;
    width: 120px;
    height: 50px;
    transition: opacity .3s linear;
}
.seemore-btn{
    margin: auto;
    display: inline-block;
    padding: 5px 10px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}
.seemore:hover{
    opacity: .7;
}

    /** about page **/
#about {
    display: flex;
    justify-content: space-around;
}
.about-text {
    width: 50%;
    text-align: initial;
    margin-right: 20px;
}
.about-text p {
    margin-top: 10px;
}
.about-img {
    width: 100%;
    margin: auto;
}
img.about-profil {
    width: 60%;
}
/**** end about ****/
/****** footer ****/

footer {
    background: linear-gradient(45deg, rgba(167, 143, 143, 1) 0%, rgba(144, 192, 229, .4) 100%);
    padding: 90px 0;
}

.footer-container {
    width: 100%;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.picture {
    display: flex;
    flex-direction: column;
}
.profil {
    width: 250px;
}

.social {
    margin: 20px 0;
}

.social a {
    color: rgb(75, 36, 73);
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}

.social a:hover {
    color: rgb(214, 113, 214);
}

.border {
    width: 100px;
    height: 4px;
    background: rgb(75, 36, 73);
}
.right-col {
    width: 45%;
}
p.rights-text {
    text-align: center;
}
.contact {
    text-decoration: none;
    color: #293043;
    font-size: 18px;
    font-weight: bold;
}

.contact:hover {
    color: rgb(214, 113, 214);
}
.legals li{
    list-style-type: none;
}
.legals a {
    color:  rgb(75 36 73);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}
/****end footer****/

/** mon compte **/
.connected-pseudo{
    text-transform: capitalize;
}
.connected-mail{
    font-weight: bold;
}
#account {
   /* display: flex;
    justify-content: space-between;*/
    margin: 20px;
}
.account-task {
    border: 2px solid rgb(225, 225, 230);
    margin: 20px;
    padding: 40px;
}
.avatar {
    width: 10%;
    height: auto;
}
.avatar img{
    width: 100%;
}


/*** responsive *****/

@media (max-width:992px) {
    main {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    .footer-container {
        max-width: 600px;
    }
    .right-col {
        width: 100%;
        margin-bottom: 60px;
    }
    .left-col {
        width: 100%;
        text-align: center;
    }
    #about{
        display: block;
    }
    .about-text{
        width: 100%;
    }
    .profil{
        margin: auto;
    }
}

@media screen and (max-width: 857px) {
    #newsletterbox {
        max-width: 42%;
    }
}

@media screen and (max-width:800px) {
    nav {
        overflow-x: hidden;
    }
    .bg-modal {
        position: sticky;
        z-index: 1;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(167, 143, 143);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        justify-content: space-around;
    }
    .nav-links a {
        color: rgb(231, 225, 225);
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
    #grid-blog{
        display: block;
    }
    .singleBlog{
        margin-bottom: 15px;
    }
    .top {
        width: 95%;
    }
    .blogContent, .blogContentHome {
        bottom: 0;
    }
    .btn-newsletter {
        margin: 0;
        width: 100%;
        margin-top: 20px;
    }


}

@media (max-width:500px) {
    main{
        grid-template-columns: repeat(1, 1fr);
    }
    article {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}

.nav-active {
    transform: translateX(0%);
    z-index: 1;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}